:root {
    --Primary_Blue: #0078AA;
    --Secondary_Blue: #3AB4F2;
    --Primary_Black: #222831;
    --Secondary_black: #212121;
    --Primary_White: #eeeeee;
    --Secondary_White: #F9FAFD;
    --Text_color_light: #f5f5f5;
    --Text_color_dark: #0a0a0a;

    --background: var(--Primary_White);
    --mainText: var(--Text_color_light);
    --complementText: var(--Text_color_dark);
    --screen: var(--Secondary_Blue);
    --buttons: var(--Primary_Black);
  }

  .darkmode {
    --background: var(--Primary_Black);
    --mainText: var(--Text_color_dark);
    --complementText: var(--Text_color_light);
    --screen: var(--Primary_Blue);
    --buttons: var(--Primary_White);
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, arial, helvetica, sans-serif;
    font-weight: normal;
  }

  body {
    background-color: var(--background);
    display:flex;
    flex-direction: column;
    color: var(--complementText);
  }

  header, footer {
    justify-content: center;
    text-align: center;
  }

  header{ 
    display: flex;
  }

  h1 {
    font-weight: 800px;
    padding: 0.5em;
  }

  #light_btn {

    position: fixed;
    right: 0px;
    margin: 0.5em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    transition: 1s;
    transform: scale(1);
  }

  #light_btn:hover, #light_btn:focus {
    transform: scale(1.1)
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    font-size: 1.25em;
  }

  a {
    color: var(--complementText);
    text-decoration: none;
  }

  a:hover, a:focus {
    padding: .25em, 0;
    color: var(--screen);
  }


  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
  }

  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid var(--screen);
    outline: none;
    color: var(--mainText);
    background-color: var(--buttons);
    opacity: 0.75;
    transition: background 250ms ease-in-out, transform 150ms ease;
  }

  .calculator-grid > button:hover, .calculator-grid > button:focus{
    opacity: 0.9;
  }

  .calculator-grid > button:active {

    transform: scale(0.9);
  }

  .span-two {
    grid-column: span 2;
  }

  .output {
    grid-column: 1 / -1;
    background-color: var(--screen);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .output .previous-operand {
    color: var(--mainText);
    font-size: 1.5rem;
  }

  .output .current-operand {
    color: var(--mainText);
    font-size: 2.5rem;
  }

  